<div class="container">

    <p>payment failed</p>
    <a class="btn btn-primary" href="/cart">go to cart</a>
</div>

<style>

    p{
        text-align: center;
        margin-top: 100px;
        color: red;
    }
</style>