<div class="header__background">
    {{>users/header}}
</div>


<section class="loginContainer" >
    <div class="loaderContainer">
        <div id="circularLoader" class="spinner-border text-primary "   role="status"></div>  
     </div>
    <div id="productsContainer" class="register__container">
        <div class="register">
            <h2 class="title">Create an Account</h2>
          
            <form class="register__form" method="post" action="/auth/register">
                <input type="email" name="email" placeholder="Enter your email">
                <input type="number" name="mobile" placeholder="Mobile number">
                <input type="password" name="password" placeholder="Password">
                {{#if alert.msg}}
                <p class=" text-danger"> <i class="fa-solid fa-exclamation me-2"></i> {{alert.msg}}</p>
                {{/if}}
                <button type="submit">Create account</button>
                <a href="/auth/login">Already have an account ? SignIn.</a>
            </form>
        </div>
    </div>
</section>

{{>users/footer}}


<style>
    .loginContainer{
     min-height: 80vh;
  }
  .loaderContainer{
       position: absolute;
       top: 40%;
       left: 50%;
       transform: translate(-50%,-50%);
    }
    
   .header__background{
        background-color: black;
    }
    .register__container{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        display: none;
        
    }
    .register{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .register__form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 8px;
        max-width: 460px;
      
    }
    .register .title{
        color: rgba(0, 0, 0);
        font-size: 36px;
        font-weight: 600;
        margin-left: -10px;
        text-align: center;
    }
    .register__form input{
        width: 400px;
        padding: 15px 15px 10px 15px;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.258);
        outline: none;
    }
    .register__form button {
        outline: 0;
        border: 0;
        background-color: rgba(0, 0, 0);
        padding: 10px;
        color: white;
        font-size: 18px;
        margin-top: 10px;
    }
    .register__form button:hover {
        background-color: rgba(0, 0, 0, 0.893);
    }
    .register__form a{
        color: rgba(0, 0, 0);
        text-decoration: none;
        margin-top: 8px;
        font-size: 15px;
    }
    input::placeholder{
      color: black;
    }
    .register h2{
        margin-top: 5px;
    }
    @media (max-width:600px){
      
    .register__form input{
        width: 320px;
    }
    .register__form button {
        width: 320px;
    }
    }
</style>

<script>

    window.addEventListener('load',()=>{
       
            document.getElementById('productsContainer').style.display ='flex'
            document.getElementById('circularLoader').style.display ='none'
       
    })
</script>
